body {
  background-color: #EADDC7;
  font-family: Fink;
  color: #3C290B;
}

@font-face {
  font-family: Fink;
  src: url(FinkHeavy.woff);
}

/* Navigation bar CSS */
.caticon,
.caticonbounce {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  color: #3C290B;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #3C290B;
}

/* About CSS */
.about {
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-text {
  text-align: left;
}

.about-text h2 {
  margin: 0;
}

.about ul {
  padding: 0;
  list-style-type: none;
}

/* Gallery CSS */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.photo {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
  text-align: left;
}

/* Adds a dark overlay, hidden before the hover. Reveals the dark overlay on hover.*/
.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.photo:hover::before {
  opacity: 1;
}

.photo h3,
.photo p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #EADDC7;
  z-index: 2;
}

.photo h3 {
  padding-bottom: 50px;
  padding-left: 20px;
}

.photo p {
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Photo description appears on hover */
.photo h3,
.photo p {
  opacity: 0;
  transition: opacity 0.3s;
}

.photo:hover h3,
.photo:hover p {
  opacity: 1;
}

.airplane {
  background-image: url("./photos/airplane.jpg");
}

.backpack {
  background-image: url("./photos/backpack.JPG");
}

.bed {
  background-image: url("./photos/bed.jpg");
}

.birthday {
  background-image: url("./photos/birthday.jpg");
}

.derp {
  background-image: url("./photos/derp.JPG");
}

.flowers {
  background-image: url("./photos/flowers.JPG");
}

.frog {
  background-image: url("./photos/frog.JPG");
}

.grumpy {
  background-image: url("./photos/grumpy.JPG");
}

.keyboard {
  background-image: url("./photos/keyboard.jpg");
}

.kingkong {
  background-image: url("./photos/kingkong.JPG");
}

.shower {
  background-image: url("./photos/shower.JPG");
}

.yawn {
  background-image: url("./photos/yawn.JPG");
}

/* Contact page CSS */
.contact {
  display: flex;
  justify-content: center;
}

form h1 {
  width: 100%;
}

form label,
form input,
form textarea {
  display: block;
  font-family: Fink;
  width: 400px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  padding-top: 30px;
}

.checkbox input,
.checkbox label {
  width: auto;
  margin: 0;
}

.checkbox label {
  padding-left: 10px;
}

.submit {
  margin-top: 30px;
  color: #3C290B;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .navbar ul {
    gap: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .navbar a {
    font-size: 20px;
  }

  .caticon,
  .caticonbounce {
    opacity: 0;
  }

  .about {
    height: 100vh;
    display: block;
    padding-top: 86px;
  }

  .about-pic img {
    width: 200px;
  }

  .about-text {
    padding: 25px;
  }

  .about-text li {
    padding-bottom: 10px;
  }

  .gallery {
    padding-top: 86px;
    padding-bottom: 30px;
    gap: 40px;
  }

  .photo {
    width: 250px;
    height: 350px;
  }

  .photo h3 {
    font-size: 1.25rem;
  }

  .contact {
    padding-top: 86px;
    padding-bottom: 30px;
  }

  .contact img {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navbar ul {
    gap: 75px;
    padding-right: 68px;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .navbar a {
    font-size: 20px;
  }

  .caticon,
  .caticonbounce {
    font-size: 45px;
    padding-left: 51px;
    padding-top: 25px;
    padding-bottom: 58px;
  }

  .about {
    height: 70vh;
    padding-top: 128px;
    gap: 150px;
  }

  .about-text {
    width: 375px;
  }

  .about-pic {
    width: 225px;
  }

  .greeting-header {
    padding: 0;
  }

  .obsessions-header {
    padding: 0;
  }

  .about li {
    padding-bottom: 15px;
    font-size: 1rem;
  }

  .about h2 {
    font-size: 1.75rem;
  }

  .about p {
    font-size: 1rem;
  }

  .about-pic img {
    width: 325px;
  }

  .gallery {
    padding-top: 128px;
    padding-bottom: 58px;
    gap: 40px;
  }

  .photo {
    width: 300px;
    height: 400px;
  }

  .contact {
    padding-top: 128px;
    padding-bottom: 58px;
    gap: 100px
  }

  .contact img {
    width: 275px;
  }

  form label,
  form input,
  form textarea {
    width: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar ul {
    gap: 75px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .navbar a {
    font-size: 20px;
  }

  .caticon,
  .caticonbounce {
    font-size: 45px;
    padding-left: 60px;
    padding-top: 35px;
    padding-bottom: 66px;
  }

  .about {
    height: 90vh;
    padding-top: 146px;    
  }

  .about-text {
    width: 500px;
  }

  .about-pic {
    width: 300px;
  }

  .greeting-header {
    padding-bottom: 10px;
  }

  .obsessions-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about li {
    padding-bottom: 20px;
    font-size: 1.2rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .about-pic img {
    width: 400px;
  }

  .gallery {
    padding-top: 146px;
    padding-bottom: 66px;
    gap: 40px;
  }

  .photo {
    width: 350px;
    height: 450px;
  }
  
  .contact {
    padding-top: 146px;
    padding-bottom: 66px;
    gap: 50px
  }
  
  .contact form {
    display: block;
    width: 500px;
  }

  .contact img {
    width: 325px;
  }

  form label,
  form input,
  form textarea {
    width: 400px;
  }
}
